@import '/src/assets/base.css';

*,
*::before,
*::after {
  box-sizing: border-box;
  border-collapse: collapse;
  border-spacing: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

#app {
  display: flex;
  height: 100vh;
}

body {
  min-height: 100vh;
  line-height: 1.6;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--defaultColor);
  background: var(--defaultBgColor);
  font-weight: 550;
  font-family: var(--font);
}

a {
  text-decoration: none;
  color: var(--defaultColor);
  transition: 0.2s;
  padding: .2em .6em;
  border-radius: 3px;
}


a:hover {
  background-color: hsla(160, 100%, 37%, 0.2);
}

div {
  border: none;
}

textarea {
  resize: none;
  outline: none;
  border: none;
  line-height: initial !important;
  background: transparent;
  caret-color: var(--caretColor);
  font-family: inherit;
}
input{
  padding: 4px;
  border-radius: 4px;
  outline: none;
  border: 1px solid;
}

button,
.likeBtn1 {
  display: block;
  width: fit-content;
  /* padding: .4em .8em; */
  border-radius: 4px;
  font-size: 14px;
  color: var(--defaultColor);
  background-color: transparent;
  border: 1px solid var(--btn1_BorderColor);
  font-weight: inherit;
  font-family: inherit;
}

button:hover,
.likeBtn1:hover {
  background-color: var(--btn1_HoverColor);
}

button:active,
.likeBtn1:active {
  background-color: var(--btn1_ActiveColor);
}

.warn-btn{
  padding: .3em .5em;
  color: rgb(221, 145, 23);
  background-color: rgb(255, 241, 216);
  border-color: rgb(255, 230, 188);
}

.warn-btn:hover{
  background-color: rgb(255, 230, 188);
}

main {
  min-height: 100vh;
  padding: 1rem;
}


.navClickAnimation {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 20%;
  height: 100%;
  background-color: rgb(189, 189, 189);
  animation: navClickAnimation .3s ease-out forwards;
  transform-origin: center center;
}

@keyframes navClickAnimation {
  from {
    width: 20%;
  }

  to {
    background-color: rgba(221, 221, 221, 0.1);
    width: 100%;
  }
}

.no-show {
  display: none;
}

.no-a {
  cursor: default;
}

.t-center{
  text-align: center;
}

.pl_25px {
  padding-left: 25px;
}

.pi_05em {
  padding-left: .5em;
  padding-right: .5em;
}

.mt_20px {
  margin-top: 20px;
}

.a {
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
}

.default-hoverBg,
.color1-hoverBg {
  transition: background .2s;
}

.default-hoverBg:hover {
  background: var(--hover1_bgColor);
}

.default-hoverBg:active {
  background: var(--hover1Active_bgColor);
}

.color1-hoverBg:hover {
  background: rgba(0, 194, 129, 0.2);
}

.color1-hoverBg:active {
  background: rgba(0, 194, 129, 0.5);
}

.headerClose {
  transform: translateX(-100%);
}

.headerOpen {
  transform: translateX(0%) !important;
}

.infoColor {
  color: var(--infoColor);
}

.btnColor1 {
  background: rgba(0, 213, 255);
}

.btnColor1:hover {
  background: rgba(0, 213, 255, 0.5);
}

.btnColor1:active {
  background: rgba(0, 213, 255);
}