@import '/src/assets/base.css';

#app {
  display: flex;
  height: 100vh;
}

a {
  text-decoration: none;
  color: var(--defaultColor);
  transition: 0.2s;
  padding: .2em .6em;
  border-radius: 3px;
}


a:hover {
  background-color: hsla(160, 100%, 37%, 0.2);
}

div {
  border: none;
}

textarea {
  resize: none;
  outline: none;
  border: none;
  line-height: initial !important;
}

button,
.likeBtn1 {
  padding: .2em .6em;
  border-radius: 4px;
  color: var(--defaultColor);
  background-color: var(--btn1_Color);
  border: 1px solid var(--btn1_BorderColor);
}

button:hover,
.likeBtn1:hover {
  background-color: var(--btn1_HoverColor);
}

button:active,
.likeBtn1:active {
  background-color: var(--btn1_ActiveColor);
}

main {
  min-height: 100vh;
  padding: 1rem;
}

.navClickAnimation {
  display: block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 20%;
  height: 100%;
  background-color: rgb(189, 189, 189);
  animation: navClickAnimation .3s ease-out forwards;
  transform-origin: center center;
}

@keyframes navClickAnimation {
  from {
    width: 20%;
  }

  to {
    background-color: rgba(221, 221, 221, 0.1);
    width: 100%;
  }
}